body
{
   margin:0;
   padding:0;
   font-family: "游明朝",Yumincho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","M S 明朝",serif;
   background-color: white;
}
.store{
   display:flex;
   justify-content: center;
}
#header
{
 background-color: black;
 text-align: center;
 color:white;
}

#store1
{
 font-size: 1.0em;
}

#store_txt1
{
 background: linear-gradient(100deg,white,Black);
 color: white;
 text-align: center;
}

/*#store_img1
{
 float: left;
}*/

#store2
{
 text-align: center;
 /*float: right;*/
}

#store_txt2
{
   background: linear-gradient(100deg,black,white);
 color: white;
 text-align: center;
}

#store_img2
{
 float: left;
}

#store3
{
 text-align: center;
 /*float: center;*/
}

#store_txt3
{
 background-color: black;
 color: white;
 text-align: center;
}
.Movie{
   text-align: center;
}
#MovieText
{
   background: linear-gradient(90deg,white,black,white);
   text-align: center;
   color: white;
}

.GamePlay
{
   text-align: center;
}

#PlayText
{
   background: linear-gradient(100deg,white,black,white);
   text-align: center;
   color: white;
}
#PlayText a{color: white;}

#WebPlay
{
   text-align: center;
}

footer
{
 width: 100%;
 background-color: white;
 color: black;
 text-align: center;

}

#form
{
   background: linear-gradient(100deg,white,black,white);
   color: white;
}